@{
    ViewData["Title"] = "Home";
}

<h3>Mobile Inventory Database</h3>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="catalog">
                <h2 class="mdl-card__title-text homeLabel">Device Inventory</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and manage device assets.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Catalog" asp-action="Index">
                    View Inventory
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="patrons">
                <h2 class="mdl-card__title-text homeLabel">Employees</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and manage patron data.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Patron" asp-action="Index">
                    View Employee Index
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="branches">
                <h2 class="mdl-card__title-text homeLabel">DNP Department</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and manage DNP locations.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Branch" asp-action="Index">
                    View Department Inventory
                </a>
            </div>
        </div>
    </div>
</div>